{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Chat-room "{{ room.title }}"</h1>
    <h3>{{ room.description }}</h3>
    <a href="{% url 'chat_rooms' %}" class="links2">Leave chat</a>
</div>
<!-- ************************* -->
<div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
    {% if messages %}
        {% for i in messages %}
            <p>{{ i.writer.username }} : {{ i.content }}</p>
            <br>
        {% endfor %}
    {% else %}
        <p>There is no messages</p>
    {% endif %}
</div>
    <br />
    <input type="text" id="id_message_send_input" />
    <button type="submit" id="id_message_send_button">Send Message</button>
    <br />
    <br />
</div>
{{ id|json_script:"id" }}
{{ room_id|json_script:"room_id" }}

<div class="container">
    <script>
        const roomID = JSON.parse(document.getElementById("id").textContent);
        const room_id = JSON.parse(document.getElementById("room_id").textContent);
        // alert(roomID);
        const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/" + roomID + "/");
        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };
        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };
        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
                "#id_message_send_input"
            ).value;
            chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}", room_id:room_id }));
        };
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var div = document.createElement("div");
            div.innerHTML = data.username + " : " + data.message;
            document.querySelector("#id_message_send_input").value = "";
            document.querySelector("#id_chat_item_container").appendChild(div);
        };
    </script>
</div>
<!-- ************************* -->
{% endblock %}